//TMB Color Palette
$black: #333333 !important;
$dark_grey: #5c5c5c !important;
$grey: #979797 !important;
$light_grey: #bebebe !important;
$ligher_grey: #eeeeee !important;
$lighter_blue: #cce2f1 !important;
$light_blue:#85b5da !important;
$blue:#007abc !important;
$dark_blue:#0c80Bf !important;
$darker_blue:#00588f !important;
$danger:#eb0045 !important;
$white: #ffffff !important;
//TMB Font Size
$title: 48pt !important;
$title_field:36pt !important;
$info:24pt !important;

//border
$bottom: border-bottom;
$top: border-top;
$left: border-left;
$right: border-right;
$full: border;

//size
$header1: .73rem !important;